@import "../utils.scss";
@include default_page_style();

::placeholder {
    color: #ccc;
    opacity: 1;
}

#footer {
    overflow: hidden;

    ::placeholder {
        color: #eee;
        opacity: 1;
    }

    #footer-bg {
        box-shadow: 0 0 45px var(--light-color);
        height: max(100vh, 100vw);
        width: max(100vh, 100vw);
        border-radius: 50%;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        z-index: -1;
        background-image: var(--footer-gradient), url("../../assets/images/moon.jpg");
    }
}